@import "tailwindcss";

@font-face {
  font-family: 'KreonGame';
  src: url('/fonts/kreon_bold.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: 'KreonGame';
  src: url('/fonts/kreon_regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
}

:root {
  color-scheme: dark;
}

html {
  background: #0b0f16;
  color: #e6edf3;
}

a {
  color: inherit;
}
